@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/colors';

.notes_form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "legend legend"
        "changedDate changedDate"
        "text text"
        "submit submit";

    // @media (min-width: $breakpoints_m) {
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-areas:
    //     "legend legend"
    //     "changedDateLabel endDateLabel"
    //     "changedDate endDate"
    //     "notes notes"
    //     "submit submit";
    // }

    fieldset {
        display: contents;

        legend {
            grid-area: legend;
            font-size: 1.4rem;
            color: $mid;
            font-weight: bold;
        }

        input#changedDate {
            grid-area: changedDate;
        }

        textarea.notetext {
            grid-area: text;
            border: none;
            border-bottom: 1px solid $light;
            color: $dark;
            outline: none;
            width: 100%;
            font-size: 1.3rem;

            &:focus {
                border-bottom: 1px solid $highlight;
            }
        }

        input[type=submit] {
            grid-area: submit;
            border: none;
        }
    }
}