@import '../../../../assets/scss/colors';

.startstop {
    padding: 0;

    button {
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }
}

.startstopmulti {
    padding: 0;

    button {
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }
}

.diaper_time_prompt, .diaper_type_prompt {
    display: flex;
    flex-direction: column;

    button {
        padding: 1rem;
        font-size: 1.4rem;
    }
}

.no_padding {
    padding: 0 !important;
}