.hidden {
    display: none;
}

.card {
    position: relative;
    overflow: hidden;
    background-color: $white;
    padding: 1rem;
    box-shadow: 0 0 5px $black;

    &.nopadding {
        padding: 0;
    }

    h2 {
        font-size: 1rem;
        font-weight: bold;
        color: $light;
        margin: 0.5rem 0;
    }

    p {
        padding: 0.5rem 0;
    }

    .card_icon {
        position: absolute;
        // transform: rotate(25deg);
        top: -0.3rem;
        right: -0.3rem;
        color: transparentize($highlight, 0.5);
    }

    &.dark {
        background-color: $dark;
        color: $white;
    }
}

.menuPoint {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem !important;
    min-width: 6rem;
    text-decoration: none;
    border-radius: 0;

    .icon {
        color: $highlight;
        font-size: 2rem;
    }
    
    .text {
        margin-top: .5rem;
        text-align: center;
        color: $white;
    }

    &:hover, &:focus, &.active {
        background: $mid;
        color: $white;
    }
}

button, .button {
    background-color: $dark;
    color: $light !important;
    border: none;
    padding: .5em 1em;
    cursor: pointer;

    .default {
        display: inline;
    }

    .hover {
        display: none;
    }

    &:hover, &:focus {
        color: $dark;
        background-color: $highlight;
        
        .default {
            display: none;
        }

        .hover {
            display: inline;
        }
    }
}