.wrapper {
    display: grid;
    grid-template-columns: auto 8rem;
    grid-template-rows:repeat(4, auto);
    grid-template-areas:
        "header header"
        "nav profile"
        "main main"
        "footer footer";
}

// @media (min-width: 960px) {
//     .wrapper {
//         grid-template-areas:
//             "header header header"
//             "nav nav profile"
//             "main main main"
//             "footer footer footer";
//     }
// }