.main {
    padding: 2rem;
    background-color: $mid;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    grid-auto-rows: max-content;
}
