@import '../../../assets/scss/colors';

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparentize($black, 0.5);
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease-out;
    
    .modal {
        position: relative;
        z-index: 500;
        width: auto;
        padding: 2rem;
        transform: scale(1);
        transition: all 0.2s ease-out;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: scale(0);
        }
    }
}

.alert {
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        li {
            width: 45%;

            button {
                width: 100%;
            }
        }
    }
}

.confirm {
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        li {
            width: 45%;

            button {
                width: 100%;
            }
        }
    }
}