section.page_naps {
    padding: 2rem;
    background-color: $mid;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-auto-rows: max-content;

    @media (min-width: $breakpoints_m) {
        grid-template-columns: repeat(2, 1fr);
    }

    .startstop {
        padding: 0;

        button {
            width: 100%;
            height: 100%;
            font-size: 3rem;
        }
    }
}

.naps_widget {
    position: relative;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    h2 {
        font-size: 1rem;
        font-weight: bold;
        color: $light;
        margin: 0.5rem;
    }

    p {
        padding: 0.5rem 1rem;
        flex-grow: 1;
    }

    .card_icon {
        position: absolute;
        transform: rotate(25deg);
        top: -0.3rem;
        right: -0.3rem;
        color: transparentize($highlight, 0.5);
    }

    button {
        font-size: 1rem;
    }

    &.running {
        padding-top: 1rem;

        .timer {
            padding: 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 1rem;
            color: $white;
            background-color: $highlight;
        }
    }

    &.last {
        min-width: 8rem;

        ul.last_naps_list {
            height: 100%;
            display: flex;
            flex-direction: column;
            
            &>li {
                position: relative;
                flex: 1;
                display: inline-grid;
                grid-template-columns: auto auto minmax(1em, 1fr);
                grid-template-rows: auto auto 1fr;
                grid-template-areas:
                    "date date actions"
                    "start end actions"
                    "duration duration actions";
                padding-left: .5rem;
                
                .date {
                    grid-area: date;
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $mid;
                    padding-top: .5rem;
                }
                
                .time_start {
                    grid-area: start;
                    margin-right: .2rem;
                }
                
                .time_end {
                    grid-area: end;
                    margin-right: 2rem;
                }
                
                .duration {
                    grid-area: duration;
                    margin-bottom: .5rem;
                    font-size: 0.8rem;
                }

                .actions {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    grid-area: actions;
                    opacity: 0;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: row-reverse;
                    transform: translateX(100%);
                    transition: all 200ms;

                    li {
                        height: 100%;

                        button {
                            height: 100%;
                            color: $highlight;
                            &:hover, &:focus {
                                color: $dark;
                            }
                        }
                    }

                }

                &:hover, &:focus {
                    background-color: $light;
                    .actions {
                        opacity: 1;
                        pointer-events: all;
                        transform: translateX(0%);
                    }
                }
            }
        }
    }

    &.single {
        justify-content: flex-start;

        .date {
            grid-area: date;
            font-size: 0.8rem;
            font-weight: bold;
            color: $mid;
            padding: 0.5rem;
        }

        p {
            font-size: 0.9rem;
            padding: 0.5rem;
            color: $mid;
            text-align: center;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: inherit;

            &>span {
                display: block;
            }
            
            .duration {
                grid-area: duration;
                font-size: 1.8rem;
                color: $dark;
                font-weight: bold;
            }
    
            .times {
                font-size: 0.8rem;
                padding-top: .5rem;
    
                .time_start {
                    grid-area: start;
                }
                
                .time_end {
                    grid-area: end;
                }
            }

            .notes {
                font-size: 1rem;
                padding-top: .5rem;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;

            li {
                flex-grow: 1;

                button {
                    width: 100%;
                }
            }
        }
    }
}

.naps_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0.5rem;
    grid-template-areas:
        "legend legend"
        "start end"
        "notes notes"
        ". submit";

    fieldset {
        display: contents;

        legend {
            grid-area: legend;
            font-size: 1.4rem;
            color: $mid;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        input {
            border: none;
            border-bottom: 1px solid $light;
            color: $dark;
            font-size: 1rem;
            outline: none;
            width: 100%;

            &:focus {
                border-bottom: 1px solid $highlight;
            }
        }

        .react-datepicker-wrapper:nth-of-type(1) {
            grid-area: start;
        }

        .react-datepicker-wrapper:nth-of-type(2) {
            grid-area: end;
        }

        .notes {
            grid-area: notes;
        }

        input[type=submit] {
            grid-area: submit;
        }
    }
}