@import '../../assets/scss/colors';

.mainMenu {
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    padding: 0 !important;

    ul {
        display: flex;
    }

    .main_menu {
        justify-content: flex-start;
    }

    .settings_menu {
        justify-content: flex-end;
    }
}