@import '../../assets/scss/colors';
@import '../../assets/scss/breakpoints';

header {
    grid-area: header;
    background-color: $black;
    padding: 1rem;

    h1 {
        font-size: 1.2rem;
        margin: 0;
        color: $light;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;

        @media (min-width: $breakpoints_m) {
            font-size: 1.8rem;
        }
    }
}