@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/colors';

.diapers_widget {
    &.single {
        justify-content: flex-start;

        p {
            font-size: 0.9rem;
            padding: 0.5rem;
            color: $mid;
            text-align: center;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: inherit;

            &>span {
                display: block;
            }

            .date {
                font-size: 0.8rem;
                font-weight: bold;
                color: $mid;
                text-align: center;
            }
    
            .times {
                font-size: 2rem;
            }

            .notes {
                font-size: 1rem;
                padding-top: .5rem;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;

            li {
                flex-grow: 1;

                button {
                    width: 100%;
                }
            }
        }
    }
}