@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/colors';

.naps_form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
        "legend"
        "start"
        "end"
        "notes"
        "submit";

    fieldset {
        display: contents;

        legend {
            grid-area: legend;
            font-size: 1.4rem;
            color: $mid;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        input {
            border: none;
            border-bottom: 1px solid $light;
            color: $dark;
            outline: none;
            margin-bottom: 0.5rem;
            width: 100%;
            font-size: 1rem;

            &:focus {
                border-bottom: 1px solid $highlight;
            }
        }

        .react-datepicker-wrapper:nth-of-type(1) {
            grid-area: start;
        }

        .react-datepicker-wrapper:nth-of-type(2) {
            grid-area: end;
        }

        .notes {
            grid-area: notes;
        }

        input[type=submit] {
            grid-area: submit;
            border: none;
        }
    }
}

.dark {
    .naps_form {
        legend {
            color: $light;
        }

        input {
            background-color: transparent;
            color: $white;
            border-bottom: 1px solid $highlight;
        }

        input[type=submit] {
            background-color: $highlight;
            color: $dark;
            border: none;
        }
    }
}