@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/colors';

.naplist {
    padding: 0;
    max-height: 29rem;
    overflow-y: scroll;

    h2 {
        margin: 1rem;
    }

    ul.last_naps_list {
        
        &>li {
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .info {
                padding: 0.5rem 1rem;
                display: inline-grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto 1fr;
                grid-template-areas:
                    "date date"
                    "start end"
                    "duration duration"
                    "notes notes";
                
                .date {
                    grid-area: date;
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $mid;
                }
                
                .time_start {
                    grid-area: start;
                    margin-right: .2rem;
                }
                
                .time_end {
                    grid-area: end;
                    margin-right: 2rem;
                }
                
                .duration {
                    grid-area: duration;
                    font-size: 0.8rem;
                }
                
                .notes {
                    grid-area: notes;
                    font-size: 0.8rem;
                }
            }

            .actions {
                // position: absolute;
                // top: 0;
                // right: -1rem;
                // bottom: 0;
                opacity: 1;
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row-reverse;
                transition: all 200ms;
                transform: scaleX(0);
                transform-origin: right;

                li {
                    height: 100%;

                    button {
                        height: 100%;
                        color: $highlight;
                        &:hover, &:focus {
                            color: $dark;
                        }
                    }
                }

            }

            &:hover, &:focus {
                background-color: $light;
                .actions {
                    opacity: 1;
                    pointer-events: all;
                    transform: scaleX(1);
                }
            }
        }
    }
}
